body {
    padding: 0px;
    margin: 0px;
}
body, h1, h2, h3, p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.color-reverse * {
    color: black;
}
.allcaps {
    text-transform: uppercase;
}
.subtitle {
    color: #777777;
}
#banner1 {
    height: 990px;
    background: url('./assets/Background1.png');
}
#banner3 {
    height: 800px;
    background: url('./assets/Background4.png');
}
#banner1 .header {
    padding: 140px 160px 80px;
}
#banner2 .header {
    padding: 60px 250px 30px;
}
#banner6 .header {
    padding: 60px 160px 40px;
}
#banner1 .title {
    font-size: 60px;
}
#banner1 .subtitle {
    margin: auto 160px;
    line-height: 1.5;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.section-wrapper,
.section-content-wrapper {
    display: inline-block;
}
.title,
.section-title,
.input-title,
.footer-title,
.text-bold {
    font-weight: 400;
}
#banner2 .section-wrapper {
    height: 150px;
}
#banner2 .section-content-wrapper {
    width: calc(100% - 65px);
}
.align-center {
    text-align: center;
}
.vertical-center {
    align-items: center;
}
#banner5 .section-content-wrapper {
    width: calc(100% - 620px);
}
#banner5 .image-container {
    width: 570px;
}
.photo {
    display: inline-block;
    width: 470px;
    height: 340px;
    padding: 0px;
    margin: 10px 0 10px;
}
.people1 {
    background-image: url('./assets/top_left.png');
}
.people2 {
    background-image: url('./assets/top_right.png');
}
.people3 {
    background-image: url('./assets/bottom_left.png');
}
.people4 {
    background-image: url('./assets/bottom_right.png');
}
.contact-wrapper img,
.contact-wrapper .contact-container {
    display: inline-block;
}
.footer {
    height: 410px;
    background-image: url('./assets/Background10.png');
}
.footer .container {
    align-items: center;
}
.footer-wrapper p {
    color: #777777;
    padding: 0 0 20px;
}
.footer-wrapper .footer-title {
    color: white;
}
.social-media-wrapper {
    display: inline-block;
}
.icon-white {
    color: white;
}
.icon-round {
    border-radius: 50%;
    border: 1px solid black;
}
.icon-gray {
    color: #777777;
}